$violet: #7a35ff
$lightviolet: #b088fe
$lightgreen: #57f2b4
$accentgreen: #6ccb00
$darkgreen: #287053
$brown: #404242
$lightbrown: #d49f0B


//$thinfont: "HalisR-Thin"
//$standardfont:  "HalisR-Book"
//$boldfont:  "HalisR-Bold"
//$blackfont: "HalisR-Black"


$thinfont: "MyriadCond"
$standardfont: "MyriadCond"
$boldfont: "Myriad Pro Condensed"
$blackfont: "MyriadBold" 
